button {
  margin: 2px;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 2px;
  color: #333;
  cursor: pointer;
}

button:active {
  outline: none;
}

button:active {
  border-color: #4a4a4a;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
  color: #363636;
}

button:hover {
  border: 1px solid #000;
  color: #000;
}

button.flex {
  flex: 1;
  padding: 10px 0;
}

button.flex-two {
  flex: 2;
  padding: 10px 0;
}

button.round {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

button.primary {
  background-color: #7DB4B5;
  border: 1px solid #70a2a2;
  color: white;
}

button:hover.primary {
  background-color: #70a2a2;
  border: 1px solid #649090;
}

button.primary-outline {
  border: 1px solid #7DB4B5;
  color: #7DB4B5;
}

button:hover.primary-outline {
  border: 1px solid #70a2a2;
  color: #70a2a2;
}

button.accent {
  background-color: #680148;
  border: 1px solid #5d0040;
  color: white;
}

button:hover.accent {
  background-color: #5d0040;
  border: 1px solid #530039;
}
