html {
  box-sizing: border-box;
  overflow-y: scroll;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 4em 0 0 0 ;
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

:focus {
  outline:none;
}

::-moz-focus-inner {
  border:0;
}

/*TODO: size appropriately*/
.container {
  margin: 0 auto;
  width: 90%;
}

.fade-route-enter {
  opacity: 0;
}

.fade-route-enter.fade-route-enter-active {
    opacity: 1;
    transition: all 0.5s
}
