ul {
  list-style: none;
}

fieldset {
  border: 1px solid #E0EFF1;
  border-radius: 5px;
  flex-shrink: 0;
  padding: 20px;
  margin: 15px;
}

legend {
  font-size: 0.9em;
}

input {
  font-size: 1em;
  font-weight: 400;
  line-height: 2.25em;
  height: 2.25em;
  padding: 0 0 0 0.625em;
  border: 1px solid #b4b4b4;
}

input:focus  {
  border-color: #7DB4B5;
}

.i-b {
  display: inline-block;
}

.row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
}
