html {
  box-sizing: border-box;
  /*Prevent jumping scrollbar when filtering oils*/
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

ul {
  list-style: none;
}

fieldset {
  border: 1px solid #E0EFF1;
  border-radius: 5px;
  flex-shrink: 0;
  padding: 20px;
  margin: 15px;
}

legend {
  font-size: 0.9rem;
}

input {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.25em;
  height: 2.25em;
  padding-left: 0.625em;
  border: 1px solid #b4b4b4;
}

input:focus  {
  outline: none;
  border-color: #7DB4B5;
}

.i-b {
  display: inline-block;
}

.row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
}
