/*TODO: FLEX?
 smaller height on mobile
*/
.filtered-container {
  display: inline-block;
}

.filtered-input {
  width: 400px;
}

.filtered-list {
  max-height: 400px;
  width: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  border: 1px solid #b4b4b4;
}

.filtered-list li {
  position: relative;
  padding-left: 5px;
  user-select: none;
  cursor: pointer;
}

.filtered-list li:hover {
  background-color: #f5fafa;
}

.filtered-list .list-item {
  margin-right: 25px;
  overflow: hidden;
}

.filtered-list .add {
  position: absolute;
  top: 0;
  right: 8px;
  color: #7DB4B5;
  opacity: 0;
}

.filtered-list li:hover .add {
  opacity: 1;
}

.filtered-list li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.filtered-list::-webkit-scrollbar {
    width: 1em;
}

.filtered-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.filtered-list::-webkit-scrollbar-track:active {
    -webkit-box-shadow: inset 0 0 6px #7DB4B5;
}

.filtered-list::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.1);
}

button.clear-input {
  line-height: 1.5;
  height: 2.25em;
  padding: 0.375em;
  border: none;
  position: relative;
  left: -1.7em;
  color: #b4b4b4;
  cursor: default;
  transition: color 0.25s;
}

button.clear-input:hover {
  color: red;
}

button.clear-input:active {
  box-shadow: none;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
