.input-unit .unit {
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  line-height: 2.25em;
  height: 2.25em;
  width: 2.25em;
  text-align: center;
  background-color: #b4b4b4;
  vertical-align: bottom;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}

.input-unit label {
  padding-left: 5px;
}

.input-unit input {
  width: 4.5em;
}

.error input {
  border: 1px solid #f28484;
  box-shadow: inset 0 0 3px  #f28484;
}

.error input:focus {
  border: 1px solid #f28484;
  box-shadow: inset 0 0 1px  #f28484;
}

.error p {
  color: #f28484;
  font-size: 0.8em;
  margin: 0;
}
