.nav {
  padding-bottom: 10px;
}

.nav {
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(125,180,181, 0.4);
}

.nav a {
  text-decoPercentn: none;
}

.nav .logo-saponi,
.nav .logo-calc {
  color: #680148;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}

.nav .logo-saponi {
  font-size: 2em;
}

.nav .logo-calc {
  font-size: 2.25em;
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
