.oils {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  padding: 0;
  margin: 0;
}

.oils li {
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 3px 0;
  user-select: none;
}



.oils li:hover .remove {
  opacity: 1;
}

.oils .remove {
  padding: 0;
  position: absolute;
  text-align: center;
  top: 8px;
  right: 0;
  color: #f28484;
  opacity: 0;
  height: 1.8em;
  width: 1.8em;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  transition: color 0.25s, background-color 0.5s;
}

.oils .remove:active {
  box-shadow: none;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.oils .remove:hover {
  color: white;
  background-color: #ffb0b0;
}

.oils .remove:focus {
  outline: none;
}

p.error {
  color: #f28484;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: all 0.5s;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0;
    transition: all 0.5s;
}
