/*TODO: FLEX?
 no margin-top on mobile
*/
.oils {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  padding: 0;
  margin: 0;
}

.oils li {
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 3px 0;
  user-select: none;
}

.oils .remove {
  position: absolute;
  top: 5px;
  right: 2px;
  color: #f28484;
  opacity: 0;
  height: 2em;
  width: 2em;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}

.oils li:hover .remove {
  opacity: 1;
}

button.remove {
  transition: color 0.25s, background-color 0.5s;
}

button.remove:active {
  box-shadow: none;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

button.remove:hover {
  color: white;
  background-color: #ffb0b0;
}

button.remove:focus {
  outline: none;
}
