/*TODO: FLEX?
 no margin-top on mobile
*/
.oils {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  padding: 0;
  margin: 2.25em 0 0 0;
}

.oils li {
  width: 100%;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  user-select: none;
}

.oils .remove {
  text-align: right;
  position: absolute;
  top: 3px;
  right: 0;
  color: red;
  opacity: 0;
  border: none;
  background-color: transparent;
}

.oils li:hover .remove {
  opacity: 1;
}

button.remove {
  transition: color 0.25s, background-color 0.5s;
}

button.remove:active {
  box-shadow: none;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

button.remove:hover {
  color: white;
  background-color: red;
}
